@import url("https://fonts.googleapis.com/css?Poppins:400,500,600,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
   min-height: 100vh;
   background: #d2d2d2;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #30AEDE;
    padding: 25px 20px;
    transition: all 0.5s ease;
}
.sidebar:hover{
    width: 250px;
}

.sidebar-header {
    display: flex;
    align-items: center;

}

.sidebar-header img {
    width: 65px;
    border-radius: 50%;

}
.sidebar-header h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #052645;
    margin-left: 20px;
}

.sidebar-links{
   list-style: none;
   margin-top: 20px;

}
.sidebar-links li a{
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #052645;
    font-weight: 500;
    padding: 15px 20px;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar-links li a:hover{
    background: #052645;
    color: #fff;
    border-radius: 5px;
}